/* General settings */
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #404040;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}

img {
  max-width: 100%;
}

/* ================
    typography
=================*/

h1,
h2,
strong {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.accent {
  color: #ffe600;
}

.hero-title {
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0;
}

.hero-subtitle {
  font-size: 1.125rem;
  margin-bottom: 1.25em;
}

.section-title {
  color: #000;
  font-size: 1.125rem;
  margin-top: 1.5em;
}

.section-title::after {
  content: '';
  background-color: #ffe600;
  height: 3px;
  width: 50px;
  display: block;
  margin-top: 0.5em;
}

.section-title-center::after {
  margin: 0.5em auto 0;
}

.page-title,
.page-subtitle {
  color: #000;
}

.page-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: 3rem;
  justify-self: center;
}

.page-title::after {
  content: '';
  display: block;
  background: #ffe600;
  height: 25px;
  width: 115%;
  margin-top: -40px;
}

.page-subtitle {
  margin-bottom: 2em;
}

.page-title,
.page-subtitle {
  text-align: center;
}

/* buttons */

.btn {
  cursor: pointer;
  font-weight: 700;
  padding: 0.5em 1.75em;
  font-size: 0.875rem;
  border: 0;
}

.btn-primary {
  justify-self: start;
  background-color: #ffe600;
  color: #000;
}

/* ================
    general layout
=================*/

.main-grid {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(200px, 500px) minmax(1em, 1fr);
}

@media (min-width: 600px) {
  .main-grid {
    grid-template-columns:
      minmax(1em, 1fr)
      repeat(3, minmax(150px, 350px))
      minmax(1em, 1fr);
    gap: 0 2em;
  }
}

/* navigation */

.header {
  background: #000;
}

.header-home {
  background: transparent;
  position: absolute;
  width: 100%;
}

.header-content {
  grid-column: 2 / -2;
  display: flex;
}

.logo-link {
  background: #ffe600;
  padding-top: 2em;
  line-height: 1;
}

.open {
  font-size: 2rem;
  color: #fff;
  align-self: center;
  cursor: pointer;
  margin-left: auto;
}

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 100%;
  width: 100%;
  background-color: #000;
  z-index: 100;
  transform: translateX(0);
  transition: transform 0.3s;
}

.nav.open-nav {
  transform: translateX(-100%);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding-top: 2em;
}

.nav-link {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
}

.close {
  color: #fff;
  position: absolute;
  font-size: 2rem;
  padding: 0.75em;
  cursor: pointer;
  line-height: 1;
}

.nav-link:hover,
.nav-link:focus,
.close:hover,
.close:focus {
  color: #ffe600;
}

.current {
  border-bottom: 2px solid #ffe600;
}

@media (min-width: 600px) {
  .header-home .nav {
    background: transparent;
  }

  .open,
  .close {
    display: none;
  }

  .nav {
    position: initial;
  }

  .nav-list {
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0;
  }

  .nav-item {
    margin-left: 1em;
  }

  .nav-link {
    font-size: 1rem;
  }
}

/* footer */

.footer {
  background: #ebebeb;
  grid-template-areas:
    '. social-links .'
    '. footer-content .';
  padding: 4em 0;
  text-align: center;
}

.footer-main {
  grid-area: footer-content;
  opacity: 0.4;
}

.copyright {
  font-size: 0.75rem;
  margin-top: 4em;
}

.social-list {
  grid-area: social-links;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 1.5em;
  justify-content: center;
}

.social-link {
  color: #000;
  margin: 0 0.5em;
  font-size: 2rem;
}

.social-link:hover,
.social-link:focus {
  color: #777;
}

@media (min-width: 600px) {
  .footer {
    grid-template-areas: '. footer-content footer-content social-links .';
  }

  .footer-main {
    text-align: left;
  }

  .social-list {
    justify-self: flex-end;
  }
}

/* ================
    hero section
=================*/

.hero {
  color: #fff;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: bottom;
  padding: 8em 0 4em;
}

.hero > * {
  grid-column: 2 / -2;
}

@media (min-width: 400px) {
  .hero > * {
    margin-right: 20%;
  }
}

@media (min-width: 600px) {
  .hero {
    padding: 10em 0 6em;
  }

  .hero > * {
    grid-column: 2 / span 2;
    max-width: 600px;
  }
}

/* ================
    info section
=================*/

.info {
  text-align: center;
  padding: 4em 0;
}

.col {
  grid-column: 2 / -2;
}

@media (min-width: 600px) {
  .col {
    grid-column: span 1;
  }

  .col:first-child {
    grid-column: 2;
  }
}

/* Template */

.main-template {
  padding: 4em 0;
}

.main-template > * {
  grid-column: 2 / -2;
}

.main-image {
  margin: 0 auto;
  box-shadow: 5px 5px #000, 10px 10px #ffe600;
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  .main-image {
    grid-column: 2;
    margin-top: 2em;
  }
  .secondary-text {
    grid-column: 2;
  }

  .main-text {
    grid-column: 3 / span 2;
  }
  .secondary-text {
    order: 2;
  }
}

/* form */

.form {
  display: grid;
}

.btn-form {
  justify-self: end;
}

label {
  font-size: 1.125rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 0.5em;
}

input,
textarea {
  padding: 0.5em;
  font-family: inherit;
  font-size: 1rem;
  margin-bottom: 1em;
}

textarea {
  resize: none;
  height: 100px;
}

@media (min-width: 600px) {
  .main-text {
    grid-row: span 2;
    margin-top: 1.75em;
    margin-left: 1em;
  }
}

@media (min-width: 850px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 1em;
    grid-auto-flow: dense;
  }

  .email-label {
    grid-column: 2;
    grid-row: 1;
  }

  .message-label {
    grid-column: 1 / -1;
  }

  .message-textarea {
    grid-column: 1 / -1;
  }
  .btn-form {
    grid-column: 2;
  }
}
